/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: #2b2b2b;
  color: #4d5052;
}

.footer_copy{
  position: absolute;
  right: 60px;
  bottom: 20px;
  text-align: right;
}