// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Roboto);

html h1, html h2{
  font-family: 'Roboto', sans-serif;
}

html a{
  font-family: 'Roboto', sans-serif;
}

input[type="text"]{
  max-width: 100%;
  margin-bottom: 15px;
}



header{
  color: #ffffff;
  background: #2b2b2b;
  border-bottom: 3px solid #2C75FF;
  min-height: 60px;
  padding: 10px 62px;
  position: relative;
  margin-bottom: 30px;
}

header h1{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header h1 a{
  color: #ffffff;
  text-decoration: none;
}

header h1 a:hover{
  text-decoration: none;
  color: #ffffff;
  opacity: .9;
}

.navigation_links a{
  display: inline-block;
  margin-right: 5px;
  color: #ffffff;
  transition: color 0.5s ease;
}

.navigation_links a:hover{
  text-decoration: none;
  color: #2C75FF;
}

.navigation_links{
  text-align: right;
  position: absolute;
  right: 62px;
  bottom: 0;
}

label{
  display: block;
}

abbr[title="required"]{
  display: none;
}

.video_container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
}
 
.video_container iframe,
.video_container object,
.video_container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.video_navigation a{
  font-weight: bold;
  margin-top: 10px;
}

.next{
  float: right;
}

.previous{
  float: left;
}